table {
  width: 100%;
}

button {
  margin: 10px;
}

.order-title {
  margin-right: 30px;
}

.one-column-container {
  padding: 0;
}

.section-title {
  font-size: 20px;
  font-weight: bold;
}

.product-thumbnail {
  width: 100px;
}
