<div class="main-container">
  <div class="row">
    <div class="col-12 page-title">
      <mat-card>Product Categories</mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <mat-card>
        <mat-card-title>Add new</mat-card-title>
        <mat-card-content>
          <form [formGroup]="categoryForm">
            <mat-form-field
              [ngClass]="{'error': categoryForm.controls['name'].errors && !categoryForm.controls['name'].pristine}"
              color="{{categoryForm.controls['name'].errors && !categoryForm.controls['name'].pristine ? 'warn' : 'primary'}}">
              <input type="text" matInput placeholder="Name" formControlName="name">
              <div *ngIf="categoryForm.controls['name'].errors && !categoryForm.controls['name'].pristine"
                   class="error-msg">
                <div [hidden]="!categoryForm.controls['name'].errors.required">Name is required</div>
              </div>
            </mat-form-field>
            <mat-form-field
              [ngClass]="{'error': categoryForm.controls['nameEng'].errors && !categoryForm.controls['nameEng'].pristine}"
              color="{{categoryForm.controls['nameEng'].errors && !categoryForm.controls['nameEng'].pristine ? 'warn' : 'primary'}}">
              <input type="text" matInput placeholder="English Name" formControlName="nameEng">
              <div *ngIf="categoryForm.controls['nameEng'].errors && !categoryForm.controls['nameEng'].pristine"
                   class="error-msg">
                <div [hidden]="!categoryForm.controls['nameEng'].errors.required">English Name is required</div>
              </div>
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Category" formControlName="productCategoryId">
                <mat-option *ngFor="let category of categories" [value]="category.id">
                  {{category.name}}
                </mat-option>
              </mat-select>
              <div class="error-msg">Select only if create nested category</div>
            </mat-form-field>
          </form>
          <div *ngIf="errors" class="error">
            <small class="form-text validation-error">{{errors['name']}}</small>
            <small class="form-text validation-error">{{errors['isPremium']}}</small>
          </div>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-raised-button color="primary" [disabled]="categoryForm.invalid" (click)="addCategory()"
                  type="submit">
            Add
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-6 offset-1">
      <mat-card>
        <mat-card-title>Categories</mat-card-title>
        <mat-card-content>
          <p *ngIf="treeError">Nie mozna pobrać kategorii</p>
          <div *ngFor="let category of categories">
            <p class="category">
              - {{category.name}}
              <mat-icon class="remove-trash" (click)="deleteCategoryModal(category.id)">delete</mat-icon>
              <mat-icon class="edit-pencil">edit</mat-icon>
            </p>
            <div *ngFor="let children of category.productCategories">
              <p class="sub-category">
                - {{children.name}}
                <mat-icon class="remove-trash" (click)="deleteCategoryModal(category.id)">delete</mat-icon>
                <mat-icon class="edit-pencil">edit</mat-icon>
              </p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>


<!--<div class="modal fade" tabindex="-1" role="dialog" id="deleteModal">-->
<!--<div class="modal-dialog" role="document">-->
<!--<div class="modal-content">-->
<!--<div class="modal-header">-->
<!--<h5 class="modal-title">Czy na pewno usunąc kategorie ?</h5>-->
<!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--<span aria-hidden="true">&times;</span>-->
<!--</button>-->
<!--</div>-->
<!--<div class="modal-body">-->
<!--<p>Zastanów się dobrze, bo to zjebie całą bazę jesli są w tej kategorii produkty :D</p>-->
<!--</div>-->
<!--<div class="modal-footer">-->
<!--<button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteCategory(currentCategoryId)">-->
<!--Usuwamy !-->
<!--</button>-->
<!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
