md-card{
  width: 20em;
}
form {
  display: flex;
  flex-direction: column;
}
.error {
  color: red;
}
.error-msg {
  display: block;
  position: absolute;
  font-size: 75%;
  bottom: -2.5em;
}
.mat-input-container {
  margin-bottom: 1em;
}

.repository-container {
  min-width: 250px;
}

.button-prod-version {
  font-size: 10px;
  margin-left: 5%;
  margin-right: 10%;

  background-color: rgba(255,22,39,0.5);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button-prod-version:hover {
  background-color: rgba(255,22,39,0.8);
}

.container-prod-version {
  padding-top: 10px;
  horiz-align: center;
}

.button-base-version {
  font-size: 10px;
  margin-bottom: 10px;
}
