.drop-area {
  margin-left: 15px;
  margin-top: 30px;
  margin-bottom: 50px;
  border: 2px #ccc8c9 dashed;
  border-radius: 3px;
  height: 100px;
  width: 200px;
}

.drag-drop-paragraph {
  text-align: center;
  vertical-align: middle;
  color: #ccc8c9;
  margin-top: 30px;
}

.file-button {
  font-size: 10px;
  padding: 6px 12px;
}
