.title {
  font-size: 22px;
}

.message {
  font-size: 17px;
  margin-bottom: 20px;
}

.status-code {
  font-size: 10px;
}

.modal-container {
  /*padding: 10px 20px;*/
  width: 350px;

}

button {
  color: rgba(116,126,125,0.84);
  font-size: 10px;
  margin-left: -10px;
}
